{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#563d7c">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles_assis.css' %}">
        <title>AVSupport</title>
    </head>
    <body>
        <header class="card">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img style="width:150px; height:40px;" src = "{% static 'images/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">AV Support
                </a>
            </nav> 
        </header>
        <div class="card">
            <div class="card-header col s5">
                <h4 class="text-center">Bienvenido al Panel de Asistencia</h4>
                </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="card container" style="width: 50%;height: 100%;">
                <strong class="d-inline-block mb-2 text-primary">Panel de Control</strong>
                <div>
                    <form>
                        <h4 style="text-align: center;margin-bottom: 2%;">Enlace de la Llamada</h4>
                        <div class="d-flex justify-content-between">
                            <input type="email" id="phone_number" placeholder="Número de teléfono">
                            <input type="email" id="url_msg" style="width: 40%;" placeholder="URL del asegurado">
                            <button class= "btn btn-primary" id="sms_button" type = "button">Enviar Mensaje</button>  
                        </div>
                        <h4 style="margin-top: 3.75%;text-align: center;margin-bottom: 2%">Unirse a la llamada</h4>
                    </form>
                    <div class="d-flex justify-content-around" style="margin-bottom: 3%;">
                        <button id="join_leave" type="button" class="btn btn-success">Iniciar Llamada</button>
                        <form action="/", method = "POST" id="formulario">	
                            {% csrf_token %}
                            <button class= "btn btn-secondary" id="link" type = "submit">Cerrar Sesión</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card container" style="width: 50%;height: 100%;">
                <strong class="d-inline-block mb-8 text-primary">Información del Asegurado</strong>
                <div class="d-flex justify-content-between" >   
                    <div class="col-md-2">
                        <h4 class="card-text mb-auto" style="text-align: center;">Foto</h4>
                        <img style="width: 100%;margin-top: 40%;" src = "{% static 'images/user.png' %}">
                    </div>
        
                    <div class="d-flex flex-column align-items-stretch">
                        <h4 class="card-text mb-auto" style="text-align: center;">Datos Personales</h4>
                        <p class="card-text mb-auto"><b>Nombre:</b> Juanito Alcachofa</p>
                        <p class="card-text mb-auto"><b>Modelo de Auto:</b> Camioneta Toyota Gris</p>
                        <p class="card-text mb-auto"><b>Placa:</b> PTY 8976</p>
                    </div>
        
                    <div class="d-flex flex-column align-items-stretch">
                        <h4 class="card-text mb-auto" style="text-align: center;">Automóvil</h4>
                        <img style="width:100%;" src = "{% static 'images/auto.png' %}">
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 50%;">
                <div id="container" class="container"></div>
            </div>
            <div class="card" style="width: 50%;">
                <div class="d-flex justify-content-around">
                    <button id="take_photo" style="width: 30%;" type="button" class="btn btn-primary">Tomar foto</button>
                    <p id="count" class="card-text mb-auto" style="margin-top: 1%;"><b>Fotos Tomadas:</b> 0</p>
                </div>
                <div class="d-flex justify-content-around" style="margin-top: 2%;">
                    <img id="photo" style="width: 25%" src = "{% static 'images/icon.png' %}" alt="">
                    <img id="photo1" style="width: 25%" src = "{% static 'images/icon.png' %}" alt="">
                    <img id="photo2" style="width: 25%" src = "{% static 'images/icon.png' %}" alt="">
                </div>
                <div class="d-flex justify-content-around" style="margin-top: 2%;">
                    <img id="photo3" style="width: 25%" src = "{% static 'images/icon.png' %}" alt="">
                    <img id="photo4" style="width: 25%" src = "{% static 'images/icon.png' %}" alt="">
                    <img id="photo5" style="width: 25%" src = "{% static 'images/icon.png' %}" alt="">
                </div>
                <div class="d-flex justify-content-around" style="margin-top: 2%;">
                    <img id="photo6" style="width: 25%" src = "{% static 'images/icon.png' %}" alt="">
                    <img id="photo7" style="width: 25%" src = "{% static 'images/icon.png' %}" alt="">
                    <img id="photo8" style="width: 25%" src = "{% static 'images/icon.png' %}" alt="">
                </div>
            </div>
            <canvas id="canvas" style="display: none;"></canvas>
        </div>        
        <p class="mt-1 mb-3 text-muted text-center">&copy; 2020 - AVSupport | JRTec</p>
        <script src="//media.twiliocdn.com/sdk/js/video/releases/2.3.0/twilio-video.min.js"></script>
        <script src="{% static 'js/app.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>